body {
  background-color: white;
  color: black;
}
h3 {
  font-size: 200%;
}

.videos {
  width: 720px;
  margin-top: 3rem;
}

.border {
  border-radius: 5px 5px;
  border: 2px solid black !important;
}

#title {
  width: 30rem;
}

#formContainer {
  width: 50rem;
}

.snapAndDebounce {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#video {
  position: absolute;
}

#debounce {
  background-color: rgba(250, 250, 250, 0.5);
  width: 60rem;
  font-size: 400%;
  text-align: center;
}

#error {
  color: red;
  font-size: 110%;
}

#success {
  color: green;
  font-size: 300%;
  width: 80rem;
  display: none;
  text-align: center;
}

#secondScreenContainer {
  display: none;
}

#submit {
  margin-top: 1rem;
}

.center {
  display: block;
  margin: 0 auto;
}
